body {
  height: 100%;
  width: 100%;
}

#board{
  height: 640px;
  width: 640px;
  margin : auto;
}

.red{
  color: red;
}

.green{
  color: green;
}

.blue{
  color: blue;
}

.black{
  color: black;
}
